.right-menu-homepage{
    display: flex;
    align-items: center;
}

.right-menu-item{
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 2px 8px;
    border: 1px solid #3c4a62;
    border-radius: 30px;
}

.right-menu-item:hover{
    background: #ff6a00;
}

.right-menu-item i{
    color: #ff6a00;
    margin-right: 5px;
    font-size: 12px;
}

.right-menu-item:hover i{
    color: #fff;
}

.right-menu-item a{
    color: #fff;
    line-height: 25px;
    font-size: 14px;
}

@media (max-width: 480px) {
    .right-menu-item {
      display: none;
    }
  }