.scroll-to-top-hide{
    opacity: 0;
    text-align: center;
    height: 40px;
    width: 40px;
    padding-top: 7px;
    background: #ec4c00 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
}

.scroll-to-top-show{
    opacity: 1;
    height: 40px;
    width: 40px;
    padding-top: 7px;
    text-align: center;
    background: #ec4c00 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
}

.scroll-to-top:not(.scroll-to-top-hide):hover{
    cursor: pointer;
    background: black !important;
}