.footer{
    background: #222222;
    padding: 20px 20px 20px 20px;
}

.footer .footer-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer .footer-top img{
    width: 100px;
}

.footer .footer-top ul{
    list-style: none;
}

.footer .footer-top li{
    margin-bottom: 5px;
}

.footer .footer-top h3{
    color: #ff671f;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer .footer-top a{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

.footer .footer-top a:hover{
    color: #f39c12;
}

.footer .footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer .footer-bottom .contact-icon{
    display: flex;
    align-items: center;
}

.footer .footer-bottom .contact-icon a{
    margin-right: 10px;
    color: #fff;
    font-size: 30px;
    width: 50px;
    padding: 6px 1px;
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border-radius: 50%;
    text-align: center;
}

.footer .footer-bottom .contact-icon a:hover{
    background: #f39c12;
}

.footer .footer-bottom .copy-right{
    color: #ffffff;
}

@media (max-width: 480px) {
    .footer{
        display: none !important;
    }
  }