  .banner-homepage-area{
    background: url("./../../images/BannerHomeCPO.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    background-position:top;
    height:100vh;
  }

  @media (max-width: 480px) {
    .banner-homepage-area {
      background-position: 0 50px;
      background-repeat:no-repeat;
      background-size:contain;
      height:44vh;
    }
  }