.menu-homepage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 135px;
    height: auto;
    margin: 10px 10px;
} 

@media (max-width: 480px) {
    .menu-homepage{
        /* display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
        border-bottom: 1px solid #f39c12; */
        display: none;
    }
    /* .logo {
      width: 90px;
    } */
  }